@model TechCheckWeb.Models.ServiceRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicianID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicianID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FailureDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FailureDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepairDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepairDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChronic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChronic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecordID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
